---
- name: Install packages for OSCAP and generate report
  hosts: all
  become: true
  tasks:
  - name: On Almalinux 8
    block:
    - name: Install packages for OSCAP in AlmaLinux 8
      yum:
        name:
        - openscap-scanner
        - scap-security-guide
        state: present
    - name: Create the Report in AlmaLinux 8
      ansible.builtin.shell: oscap xccdf eval --oval-results --profile cis --results-arf /tmp/arf.xml --report /tmp/report-almalinux8.html /usr/share/xml/scap/ssg/content/ssg-almalinux8-ds.xml
      args:
        chdir: /tmp
      register: oscap_scan_output
      failed_when: oscap_scan_output.rc != 0 and "fail" in oscap_scan_output.stderr | lower
    when: ansible_distribution == "AlmaLinux" and ansible_distribution_major_version == "8"
  - name: On Ubuntu 22.04
    block:
    - name: Install packages for OSCAP in Ubuntu 22.04
      apt:
        name:
        - libopenscap8
        state: present
    - name: Create the Report
      ansible.builtin.shell: oscap xccdf eval --oval-results --profile xccdf_org.ssgproject.content_profile_cis_level2_server --results-arf /tmp/arf.xml --report /tmp/report-ubuntu2204.html /root/scap-security-guide-0.1.78/ssg-ubuntu2204-ds.xml
      args:
        chdir: /tmp
      register: oscap_scan_output
      failed_when: oscap_scan_output.rc != 0 and "fail" in oscap_scan_output.stderr | lower
    when: ansible_os_family == 'Debian' and ansible_distribution_version == '22.04'
